body{
   background: #EBEBEB; 
   font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #21272B
}

h1{
    color: #1BB4E8;
}

.subtitulo{
    color:  #FFFFFF
}

.direita{
    list-style-type:none;   
}

.direita li{
    display: inline;
}

.nossa-frota{
    background-color: #C6B07F;
}

.destinos{
    background-color: #1BB4E8;
}
